In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df=pd.read_excel('flight_price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [19]:
df['Duration_h'] = df['Duration'].str.split(' ').str[0].str.split('h').str[0]
df['Duration_min'] =df['Duration'].str.split(' ').str[1].str.split('m').str[0]
if df['Duration_min'].isnull().any():
    df['Duration_min'].fillna(0,inplace=True)
df['Duration_min']=df['Duration_min'].astype(int)
df['Duration_h']=df['Duration_h'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [14]:
li=[]
for i in df['Duration_h']:
    try:
        int(i)
        li.append('1')
    except:
        li.append('0')

In [6]:
count=0
for i in li:
    if i == '0':
        print(count)
        break
    count=count+1

6474

In [7]:
li[6474]

'0'

In [8]:
df['Duration_h'][6474]

'5m'

In [10]:
df.iloc[6474]

Airline                        Air India
Date_of_Journey                6/03/2019
Source                            Mumbai
Destination                    Hyderabad
Route              BOM → GOI → PNQ → HYD
Dep_Time                           16:50
Arrival_Time                       16:55
Duration                              5m
Total_Stops                      2 stops
Additional_Info                  No info
Price                              17327
Duration_h                            5m
Duration_min                           0
Name: 6474, dtype: object

In [17]:
df['Duration_h'][6474]

'5m'

In [11]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10683, dtype: object